<%- include('includes/head.ejs') %>
</head>
<body>
    
    <!-- header -->
    <%- include('includes/navigation.ejs') %>
    <!-- /header -->

    <!-- main content -->
    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
    </main>
    <!-- /main content -->
<%- include('includes/end.ejs') %>
