
<!-- main content -->
<main>
    {{#if hasProduct }}
        <div>
            {{#each prods }}
                <div>
                    <h3>{{ this.title }}</h3>
                </div>
            {{/each}}
        </div>
    {{else }}
        <div>
            <h1>products not available</h1>
        </div>
    {{/if }}
</main>
<!-- /main content -->